.film-wrap {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #d6336c #ffe6f0;
  padding: 10px 0;
}
.film-track {
  display: flex;
  gap: 20px;
}
.film-item {
  min-width: 140px;
  text-align: center;
  cursor: pointer;
}

